---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #f0f0f0; /* Change the background color */
  color: #f0f0f0; /* Change the text color */
  padding: 10px 0; /* Adjust padding to make the header thinner */
  text-align: center;
  background-image: linear-gradient(120deg, #002080, #333333);  /*green to grey gradient*/
}

h2, h3, h4, h5, h6 {
  color: #002080; /* Dark blue (or match the color of your header text) */
}

/* Optional: Customize the font weight or size if needed */
h2 {
  font-weight: 700; /* Bold for section titles */
}

h3 {
  font-weight: 600; /* Slightly less bold for subsections */
}
