---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #f0f0f0; /* Change the background color */
  color: #f0f0f0; /* Change the text color */
  padding: 10px 0; /* Adjust padding to make the header thinner */
  text-align: center;
  background-image: linear-gradient(120deg, #006600, #595959);  /*green to grey gradient*/
}
